/*  your css code here. If applicable */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.right{
    width: 450px;
    margin-top: 70px;
    margin-left: 20px;
    display: inline-block;
}
.right{
    
}
form{
    display: flex;
    width:300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    gap:10px;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
form>button{
    background-color: #1877f2;
    border-radius: 5px;
    padding:10px 20px;
    width: 300px;
    border: 1px solid #ccc;
}
.signup{
    background-color: #43B72A;
}